#one {
  position: fixed;

  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 50%;

  text-align: center;
  padding-top: 15%;

  border-right: 1px solid grey;

  font-family: sans-serif;
}

#two {
  position: absolute;

  top: 0%;
  left: 50%;
  bottom: 0%;
  right: 0%;

  overflow: scroll;
}

#ad {
  border: 1px solid #e0e0e0;
  padding: 5px;
  width: 90px;
  margin: auto;
}

#ad #tagline {
  margin: 0px;
  text-decoration: none;
}

#ad .adlink {
  text-decoration: none;
  color: black;
}

#ad .plug {
  text-decoration: none;
  color: #a0a0a0;
  font-size: 7pt;
}
