#one {
  position: fixed;

  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 80%;

  text-align: center;
  padding-top: 15%;

  border-right: 1px solid grey;

  font-family: sans-serif;
}

#two {
  position: absolute;

  top: 0%;
  left: 50%;
  bottom: 0%;
  right: 0%;

  overflow: scroll;
}

#ad {
  border: 1px solid #e0e0e0;
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
  width: 74px;
  margin: auto;
  margin-bottom: 10px;
}

#ad img {
  display: inline-block;
}

#ad #tagline {
  font-size: 10pt;
  float: right;
  margin: 0px;
  padding-bottom: 2px;
  text-decoration: none;
  display: inline;
}

#ad .adlink {
  text-decoration: none;
  color: black;
}

#ad .plug {
  text-decoration: none;
  color: #a0a0a0;
  font-size: 7pt;
  display: block;
  margin-top: 10px;
}
