#classic-wrapper {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
#classic-app {
  flex: 0 1 100%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  font-size: 11pt;
  flex-wrap: wrap;
}

#classic-typed {
  font-weight: 700;
}

#classic-time {
  flex: 1;
  text-align: right;
  padding: 1%;
}

#classic-error {
  flex: 6;
  background-color: #ff9994;
  line-height: 170%;
}

#classic-status {
  flex: 0 1 100%;
  text-align: right;
  padding: 1%;
  font-weight: 700;
}

#classic-button {
  margin-left: 1%;
  line-height: 50%;
  padding: 1%;
  /*width: 30px; */
  height: 2em;
  margin-top: 15px;
  flex: .1;
  border-color: lightgrey;
  cursor: pointer;
  background-color: #FFF;

  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 4px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 4px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 4px;
}
#classic-button:active {
  border-color: #e6e6e6;
  outline: 0;
}
#classic-button:focused {
  outline: 0;
}
#classic-text {
  align-self: flex-end;
  padding: 1%;
  flex: 0 1 100%;
}
.fine {
  background: #a0e7a0;
} 
.error {
  background: #ff9994;
}
.go {
  font-weight: 700;
}
